.tarjeta {
  color: black;
  background-color: antiquewhite;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px bisque(0, 0, 0, 0.1);
}
.tarjeta img {
  width: 100%;
  border-radius: 8px;
}
