.tarjeta {
  color: black;
  background-color: antiquewhite;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;

}
.tarjeta img {
  width: 100%;
  border-radius: 8px;
  height: 200px;
  object-fit: cover;
  object-position: top center;
  margin-bottom: 10px;
}
